@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: main;
  src: url("./fonts/Poppins-Medium.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: main;
  color: rgba(255, 255, 255, 0.8);
}
.chatDialog::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

.chatDialog::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(47, 47, 47, 0.2);
  transition: 0.2s;
}
.chatDialog::-webkit-scrollbar-thumb:hover {
  background-color: rgba(47, 47, 47, 0.4);
}
.geC {
  border: 12px solid transparent;
  border-top: 12px solid rgba(28, 160, 255, 1);
  border-bottom: 12px solid rgba(28, 160, 255, 1);
  animation: loader 1.6s infinite linear;
}
.geCLast {
  border: 12px solid transparent;
  border-top: 12px solid rgba(28, 160, 255, 1);
  border-bottom: 12px solid rgba(28, 160, 255, 1);
  animation: loader 1.6s 1 linear;
}
.skelLoading {
  animation: skeleton 2s infinite ease-in-out;
}
.skelLoadingImg {
  animation: skeletonImage 2s infinite ease-in-out;
}
.iconButton {
  @apply h-[60px] aspect-square rounded-xl bg-buttonBg flex justify-center items-center border-none outline-none cursor-pointer transition-colors hover:bg-buttonHover;
}
.opShow {
  opacity: 1;
}
.lineBurg {
  display: block;
  height: 3px;
  border-radius: 5px;
  width: 32px;
  background: rgb(123, 123, 123);
}
.textGradient {
  background: linear-gradient(to right, #007994, #8a00de);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.imgNoDrag {
  pointer-events: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.aNoDrag {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
input[type="file"] {
  color: transparent;
}
input[type="file"]::-webkit-file-upload-button {
  visibility: hidden;
}

@keyframes loader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes skeleton {
  0% {
    background-color: rgba(255, 255, 255, 0.1);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.2);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.1);
  }
}
@keyframes skeletonImage {
  0% {
    background-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    background-color: rgba(255, 255, 255, 0.4);
  }
  100% {
    background-color: rgba(255, 255, 255, 0.3);
  }
}
